mat-sidenav-container {
  height: 100%;
  min-height: 50em;
}

mat-sidenav,
mat-sidenav-content {
  padding: 6px;
}

mat-sidenav {
}

.sidenavleft {
  background-color: #1976d2;
  width: 10em;
}
.sidenavRight {
  background-color: #1976d2;
  max-width: 2em;
}
.sidebar-divider {
  border-top: 5px solid white;
}

a.nav-link {
  font-weight: 400;
  color: white;
}
